*{
    box-sizing: border-box;
}
.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-family: roboto;
    background-color: aquamarine;
}
.titles{
    text-align: center;
    margin: 25px;
}

.titles > h1{
    color: rgb(242, 5, 5);
}

.titles > p{
    color: rgb(121, 11, 11);
}

form{
    justify-self: last baseline;
    min-width: 250px;

    max-width: 500px;
    padding: 18px;
    background-color: rgb(172, 199, 199);
}
.resume-date{
    margin-bottom: 10px;
}