.container {
  position: relative;
  list-style-type: none;
  padding: 0;
}

.product-list {
  margin-top: 160px;
  list-style-type: none;
}

.product-item {
  border: 1px solid #ccc;
  margin-bottom: 25px;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
}

.product-detail-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-detail {
  display: flex;
  align-items: center;
}

.product-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 20px;
}

.product-info {
  flex: 1;
}

.product-info h2 {
  margin-top: 0;
}

.product-price {
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
}

.back-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.back-button:hover {
  background-color: #0056b3;
}

.fixed-controls {
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-item h3 {
  margin-top: 0;
}

.product-item button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.product-item button:hover {
  background-color: #0056b3;
}

.product-detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 94vh;
  padding: 20px;
  background-color: #f9f9f9;
}

.product-detail {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 800px;
  width: 100%;
}


.product-price {
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
}